
<link rel="stylesheet" href="/css/stylePages.css">

<nav>
    <div class="navContainer">
        
        <a class="nav" href="/profile">
            <li>profile</li>
        </a>
     
       
        <a class="nav" href="/logout">
            <li>Log Out</li>
        </a>
        
    </div>
</nav>


