<link rel="stylesheet" href="/css/stylePages.css">

<nav>
        <h1>Bloggers</h1>
      <div class= "navlinks">
        <ul>

            <li><a href="/homePage" > home  </a> </li>

            <li><a href="/login" > Login </a> </li>

            <li><a href="/register" > Register </a> </li>

            <li><a href="/logout" > LogOut </a> </li>
            
        </ul>
      </div>
</nav>