body{
    background-color: rgb(213, 221, 221);
}

nav{
    background-color: rgb(236, 236, 241);
  
}

.navContainer{
    display: flex;
    justify-content: space-evenly;
    justify-content:center;
    flex-direction: row;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-end;
    
}

nav li {
    list-style: none;
    padding: 5px 8px;
    font-weight: bold;
    color: rgb(20, 134, 20);
}

nav li a{
    color: white;
}

#li{
    list-style: none;
}

.buttonUS{
    display: flex;
    justify-content: space-evenly;
    justify-content:center;
    
    padding: 5px 8px;

}

.display-5{

    display: flex;
    justify-content: space-evenly;
    justify-content:center;
    padding: 5px 8px;
}


.containerlogin{

    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px 8px;



}

.container-sm{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    flex-direction: row;
    padding: 5px 8px;
}

.profilebuttons{
    display: flex;
    justify-content:space-between;
    justify-content: center;
    flex-direction: row;
    padding: 5px 8px;
    
}

#bMargin{
    padding: 5px 8px;
    margin: 5px 8px;
}

#update{
    padding-top: 60px;
}

#allUB{
    padding: 5px 8px;
    margin: 5px 8px;
}

.homebuttons{
    display: flex;
    
    justify-content:right;
    flex-direction: row;
    padding: 10px 8px;
}
#adjust{
    padding: 5px;
    margin: -2px 8px;
}

#blogpost{
    display: flex;
    justify-content:center;
    flex-direction:column;
    width:550px;
    padding: 5px;
    margin: 12px 8px;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}

#blogspace{
    justify-content: center;
    
  
  

}